<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net472" />
  <package id="Penguin.Debugging" version="1.0.2" targetFramework="net472" />
  <package id="Penguin.Entities" version="1.0.9" targetFramework="net472" />
  <package id="Penguin.Entities.Abstractions" version="1.0.3" targetFramework="net472" />
  <package id="Penguin.Messaging.Abstractions" version="2.0.6" targetFramework="net472" />
  <package id="Penguin.Messaging.Core" version="2.0.9" targetFramework="net472" />
  <package id="Penguin.Messaging.Logging" version="2.0.6" targetFramework="net472" />
  <package id="Penguin.Persistence.Abstractions" version="1.2.8" targetFramework="net472" />
  <package id="Penguin.Persistence.EntityFramework.NetFramework.csproj" version="1.1.9" targetFramework="net472" />
  <package id="Penguin.Reflection" version="3.13.3" targetFramework="net472" />
  <package id="Penguin.Reflection.Abstractions" version="2.0.6" targetFramework="net472" />
  <package id="Penguin.Reflection.Extensions" version="2.0.7" targetFramework="net472" />
</packages>